*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Env files
*.env
.env
sporex-backend/.env
venv
# Python cache
# Android / Gradle
.gradle/
build/
*/build/

# IntelliJ / Android Studio
.idea/
*.iml

# Local config
local.properties

# OS
.DS_Store
Thumbs.db

sporex-backend/__pycache__
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

.vscode/


#Device config
device/SporeX_Device/config.h

#Uploads
sporex-backend/uploads/
sporex-backend/annotated/
*.jpg